@font-face {
    src: url("../fonts/SF_Bold.ttf");
}

@font-face {
    src: url("../fonts/SF_Regular.ttf");
}

@font-face {
    src: url("../fonts/SF_Thin.ttf");
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 2, 0, 0, 1);
}

.bold {
    -fx-font-family: "SF Bold";
    -fx-font-size: 20px;
}

.regular {
    -fx-font-family: "SF Regular";
    -fx-font-size: 20px;
}

.thin {
    -fx-font-family: "SF Thin";
    -fx-font-size: 20px;
}

.white {
    -fx-text-fill: white;
}

.green {
    -fx-text-fill: #33cc33;
}

.but {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #386ea8;
}

.red {
    -fx-text-fill: #ff5050;
}



